#canvas-image-blending{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
}


i ,h2{
    color: cornsilk;
}


/* /* ESTILOS NORMALES (para móviles en vertical)
   ========================================================================= / */
nav{
    width: 100%;
}
.toggle{
    display: block;
    width:100%;
    padding: 10px ;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    
}
ul{
    background-color: rgba(90, 88, 90, 0.034);
    width: 90%;
    display: none;
    position: fixed;
}
ul li{
    background-color: rgba(109, 109, 109, 0);
    list-style: none;
    padding-right: 5vw;
    padding-top: 20px;
    text-align: right;
}

ul li:hover{
    background: #111111a2;
}

ul li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.mobile{
    display: block;
}

.nombre {
    padding-left: 1vh;
    padding-top: 30vw;
    width: 50vw;
}

#hi {
    font-size: 23vw;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
}


#iam {
    font-size: 18vw;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
}

.icons_contact{
    display: none;
    width: max-content;
    background-color: red;
}
 
/* / RESPONSIVE
   ========================================================================= / */
 

@media (max-width: 425px) { 
    ul li{
       padding-right: 10vw; 
    }
    
    #hi {
        font-size: 35vw;
    }
    
    
    #iam {
        font-size: 17vw;
    }
}

@media (max-width: 768px){
    .nombre {
        padding-left: 5vw;
        padding-top: 30vh;
    }
    #hi {
        font-size: 20vw;
    }
    
    
    #iam {
        font-size: 13vw;
    }
}

/* / Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- / */

@media (min-width: 768px) { 
    .toggle{
        display: none;
    }

    ul{
        margin-left: 30vw;
        padding: 0;
        width: 60vw;
        display: block;
    }
    ul li{
        list-style: none;
        display: inline-block;
        padding: 20px;
        text-align: center;
    }

    .nombre {
        padding-left: 5vw;
        padding-top: 30vh;
    }
    #hi {
        font-size: 18vw;
    }
    
    
    #iam {
        font-size: 11vw;
    }

    .icons_contact{
        position: fixed;
        display: flex;
        flex-direction: column;
        width: max-content;
        background-color: transparent;
        right: 3vw;
        top: 30vh;
    }

    .icons_contact a {
        padding: 3vh 0;
        font-size: 5vh;
    }


}
 


/* / Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- / */
@media (min-width: 1024px) {
    ul li a{
        font-size: 1.5vw;
    }
    
    #hi {
        font-size: 15vw;
    }
    
    
    #iam {
        font-size: 8vw;
    }
 }

 

/* / Escritorios muy anchos
   ------------------------------------------------------------------------- */ 
@media (min-width: 1200px) { 
.nombre {
    padding-left: 10vw;
    padding-top: 18vh;
}
#hi {
    font-size: 15vw;
}


#iam {
    font-size: 8vw;
}
}
