 
 body{
    background-color: black;
}
nav{
    top: 1vh;
}

ul{
    background-color: transparent;
    
    z-index: 500;
    
}

/* p{
    color: chartreuse;
}

hr{
    margin: 0;
} */

#conteiner_principal{

    width: 90%;
    
    margin: 20vh  auto;
    height: 200px;
    background-color: rgba(241, 182, 182, 0.753);
    z-index: -20;
    
}



#circulo_color {
    margin: 10px;
    transition: opacity .15s ease-in-out,height 0s ease-in-out 0s;
    border-radius: 50%;
    /* position: relative; */
    left: 5vw;
    bottom:  0vh;
    width: 25vw;
    height: 25vw;
    background-color: #c2140a;
    background-image: linear-gradient(to right,#fc6952,#fc1f4f);
    z-index: 1;
    
}


#photo{
    border-radius: 50%;
    /* position: absolute; */
    width: 25vw;
    mix-blend-mode: multiply;
    
}










